<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div id="title" class="text-900 font-bold text-4xl mb-4 text-start">
    <p-panel header="Bem-vindo Recrutador!" [toggleable]="true" >
      <p>O projeto de Controle de Estoque de Produtos é uma aplicação robusta destinada a otimizar o gerenciamento de
        vendas e estoque para um e-commerce. Através dessa aplicação, é possível realizar diversas funções essenciais
        para o controle eficiente dos produtos e categorias dentro da plataforma.
      </p>
    </p-panel>
  </div>
  <div class="grid">
    <app-card-produto></app-card-produto>
  </div>
</div>