<div class="p-4">
  <p-table [value]="vendas" [columns]="cols">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">{{ col.header }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td>{{ rowData.id }}</td>
        <td>{{ rowData.produto_descricao }}</td>
        <td>{{ rowData.usuario }}</td>
        <td>{{ rowData.quantidade }} </td>
        <td>{{ rowData.data_venda | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button pButton icon="pi pi-pencil" (click)="editarVenda(rowData.id)" class="p-button-info"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  
</div>