.container-produto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 100%;
  min-width: 500px;
  font-family: epilogue;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.p-field {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;

}
