<div class="container-produto">
  <div class="card">
    <h2>{{ titulo }}</h2>
    <form [formGroup]="form">

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-shopping-cart"></i>
        </span>
        <input pInputText placeholder="Descrição" formControlName="descricao" />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-dollar"></i>
        </span>
        <input pInputText placeholder="Valor" formControlName="valor" />
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-plus"></i>
        </span>
        <input pInputText placeholder="Quantidade" formControlName="quantidade" />
      </div>

      <div class="p-field">
        <label for="categoria_id">Categoria</label>
        <p-dropdown class="w-full" formControlName="categoria_id" [options]="categorias"
          optionLabel="descricao"></p-dropdown>
      </div>

      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">
          <i class="pi pi-image"></i>
        </span>
        <input pInputText placeholder="Imagem" formControlName="imagem" />
      </div>

      <div *ngIf="form.get('imagem')?.value" class="w-full flex justify-content-center">
        <p-image [src]="form.get('imagem')?.value" alt="Image" width="250"></p-image>
      </div>

      <div class="w-full flex justify-content-center">
        <p-button [disabled]="isDisabled" (click)="cadastrarProduto()" [label]="titulo" icon="pi pi-save"
          class="p-button-success"></p-button>
      </div>
      <p-toast></p-toast>
    </form>
  </div>
</div>