.card {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 600px;
  font-family: epilogue;
  text-align: center;
  max-height: 750px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
