<div class="cadastro-container">
  <h2>Cadastro de categoria</h2>
  <div class="cadastro-form">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input pInputText type="text" class="p-inputtext-lg" placeholder="Nova categoria" [(ngModel)]="descricaoCategoria" (keyup)="validarCampos()" />
    </div>


    <button type="button" [disabled]="isDisabled" pButton label="Cadastrar" class="p-button-primary" (click)="cadastrarCategoria()"></button>
    
    <p-toast></p-toast>
  </div>
</div>
