.cadastro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

h2{
  font-family: 'Epilogue', sans-serif;
  font-weight: 900;
  font-size: 30px;
}

.cadastro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-top: 20px;
}

.p-inputgroup {
  margin-bottom: 10px;
}

.p-inputgroup-addon {
  border-right: none;
}

button {
  margin-top: 20px;
  width: 100%;
}
