<div class="cadastro-container">
  <h2>{{titulo}}</h2>
  <div class="cadastro-form">
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-user"></i>
      </span>
      <input type="text" pInputText placeholder="Username" [(ngModel)]="usuario" (ngModelChange)="verificarCampos()">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pInputText placeholder="Senha" [(ngModel)]="senha" (ngModelChange)="verificarCampos()">
    </div>
    <div class="p-inputgroup">
      <span class="p-inputgroup-addon">
        <i class="pi pi-lock"></i>
      </span>
      <input type="password" pInputText placeholder="Confirmação sua Senha" [(ngModel)]="confirmacaoSenha"
        (ngModelChange)="verificarCampos()">
    </div>
    <button type="button" pButton [label]="titulo === 'Cadastrar Usuário' ? 'Cadastrar' : 'Atualizar'" class="p-button-primary" (click)="cadastrar()"
      [disabled]="isRegisterDisabled"></button>

    <div class="card">
      <p-toast></p-toast>
    </div>
  </div>
</div>