/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300;400;700;900&display=swap');
@import "primeflex/primeflex.css";


body {
  margin: 0;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}